<section class="slider container-fluid">
    <div class="col-md-2 menu">
        <div class="col-md-12 bg_EAEAEA menuArea">
            <ul class="menuUl1st col-md-12">
                <li><a class="color_000000" href=""><i class="fa fa-signal color_9ECB3B"></i>TOP SONGS</a></li>
                <li><a class="color_000000" href=""><i class="fa fa-headphones color_9ECB3B"></i>MOST HEARD</a></li>
                <li><a class="color_000000" href=""><i class="fa fa-heart-o color_9ECB3B"></i>SONG OF THE DAY</a></li>
                <li><a class="color_000000" ng-href="/play_lists/{{random_playlist_id}}"><i class="fa fa-gift color_9ECB3B"></i>SURPRISE ME</a></li>
                <li class="hr"><hr /></li>
                <li><a class="color_000000" href=""><i class="fa fa-tripadvisor color_9ECB3B"></i>RADIO</a></li>
                <li><a class="color_000000" href=""><i class="fa fa-user-secret color_9ECB3B"></i>FRIENDS</a></li>
            </ul>
        </div>
        <div class="col-md-12 bg_E1E1E1 textCenterAlign margin0auto padding30">
            <h3>Add Section</h3>
            <button class="btn color_CC3247">Download App</button>
        </div>
    </div>
    <div class="service col-md-8 bg_FEFFFF">
        <div class="serviceSlider col-md-12">
            <img class="img-responsive" src="/assets/images/banner1.jpg" alt="" />
        </div>
        <div class="serviceArea col-md-12">
            <div class="serviceAreaMenu row bold">
                <ul>
                    <li class="serviceAreaMenu1st"><a href="/">Overview</a></li>
                    <li><a href="/new_releases">New releases</a></li>
                    <li><a href="/new_releases">Albums</a></li>
                    <li><a href="/new_releases">Artists</a></li>
                    <li><a href="/play_lists">Playlists</a></li>
                </ul>
            </div>
            <div class="row" ng-repeat="albumGroup in albums" style="margin-bottom: 20px">
                <div ng-repeat="album in albumGroup" class="col-md-3">
                    <a ng-href="/albums/{{album.id}}">
                        <div class="musicSelect">
                            <h5>{{album.name}}</h5>
                            <div class="control">
                                <i class="fa fa-play-circle-o"></i>
                            </div>
                            <!--<div class="rating">-->
                            <!--<i class="fa fa-heart"></i>-->
                            <!--<i class="fa fa-heart"></i>-->
                            <!--<i class="fa fa-heart"></i>-->
                            <!--<i class="fa fa-heart"></i>-->
                            <!--<i class="fa fa-heart-o"></i>-->
                            <!--</div>-->

                        </div>
                        <img ng-src="{{album.cover_url ? (album.cover_url) : '/assets/images/placeholder.png'}}" class="img-responsive" alt="" width="250" height="250"/>
                    </a>
                    <!--<img class="img-responsive" ng-src="{{album.cover.url ? (domain_url + album.cover.url) : placeholder_image_url}}" alt=""  /></a>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 playlistItem">
        <div class="col-md-12 bg_EAEAEA song padding20">
            <ul>
                <li ng-repeat="playlist in playlists"><a href="/play_lists/{{playlist.id}}"><img src="assets/images/anthony.png" alt="" /><div><i class="fa fa-volume-up"></i></div>{{playlist.name}}</a></li>
            </ul>
        </div>
        <div class="col-md-12 bg_E1E1E1 textCenterAlign margin0auto padding30">

            <h3>Take music</h3>
            <img class="appButton" src="assets/images/app.jpg" alt="" />
            <button class="btn">Download App</button>
        </div>
    </div>
</section>
