<section class="slider container-fluid">
    <div class="col-md-2 menu">
        <div class="col-md-12 bg_EAEAEA menuArea">
            <ul class="menuUl1st col-md-12">
                <li><a class="color_000000" href=""><i class="fa fa-signal color_9ECB3B"></i>TOP SONGS</a></li>
                <li><a class="color_000000" href=""><i class="fa fa-headphones color_9ECB3B"></i>MOST HEARD</a></li>
                <li><a class="color_000000" href=""><i class="fa fa-heart-o color_9ECB3B"></i>SONG OF THE DAY</a></li>
                <li><a class="color_000000" href=""><i class="fa fa-gift color_9ECB3B"></i>SURPRISE ME</a></li>
                <li class="hr"><hr /></li>
                <li><a class="color_000000" href=""><i class="fa fa-tripadvisor color_9ECB3B"></i>RADIO</a></li>
                <li><a class="color_000000" href=""><i class="fa fa-user-secret color_9ECB3B"></i>FRIENDS</a></li>
            </ul>
        </div>
        <div class="col-md-12 bg_E1E1E1 textCenterAlign margin0auto padding30">
            <h3>Add Section</h3>
            <button class="btn color_CC3247">Download App</button>
        </div>
    </div>
    <div class="playSong col-md-8 bg_FEFFFF">
        <div class="playSongContent col-md-12">
            <div class="ArtistSongList col-md-9">
                <div class="playSongSlider">
                    <img class="img-responsive" src="assets/images/slider.jpg" alt="" />
                </div>
                <div class="playSongSliderTop">
                    <img class="img-responsive" ng-src="{{album.cover.url ? (album.cover.url) : 'https://placeholdit.imgix.net/~text?txtsize=20&txt=Album&w=94&h=94'}}" alt="" />
                    <!--<img src="{{album.cover_url}}" alt="">-->
                    <h3>{{album.name}}</h3>
                    <button class="btn btn-success">share</button>
                    <button class="btn btn-info">like</button>
                </div>
                <ul class="pp_playlist">
                    <!--<li ng-repeat="song in songs">-->
                    <li ng-repeat="song in songs" audiourl="{{song.audio_url}}">

                        <span class="songPlay">
                            <i class="fa fa-play-circle-o"></i>
                        </span>
                            <span class="songTitle">{{song.name}}</span>
                            <span class="songSinger">by Habib</span>
                            <span class="songDuration">4:34</span>
									<span class="songFevo">
										<i class="fa fa-heart" class="heart_icon"></i>
										<i class="fa fa-plus" class="plus_icon"></i>
									</span>

                    </li>
                </ul>
            </div>
            <div class="sideSection col-md-3">
            </div>
        </div>
    </div>
    <div class="col-md-2 playlistItem">
        <div class="col-md-12 bg_EAEAEA song padding20">
            <ul>
                <li><a href=""><img src="assets/images/anthony.png" alt="" /><div><i class="fa fa-volume-up"></i></div>Dera Lala <span>Shakira</span></a></li>
                <li><a href=""><img src="assets/images/anthony.png" alt="" /><div><i class="fa fa-volume-up"></i></div>Happy <span>Shakira</span></a></li>
                <li><a href=""><img src="assets/images/anthony.png" alt="" /><div><i class="fa fa-volume-up"></i></div>All of me <span>Shakira</span></a></li>
                <li><a href=""><img src="assets/images/anthony.png" alt="" /><div><i class="fa fa-volume-up"></i></div>Pumpell <span>Shakira</span></a></li>
                <li><a href=""><img src="assets/images/anthony.png" alt="" /><div><i class="fa fa-volume-up"></i></div>Dera Lala <span>Shakira</span></a></li>
                <li><a href=""><img src="assets/images/anthony.png" alt="" /><div><i class="fa fa-volume-up"></i></div>Dera Lala <span>Shakira</span></a></li>
            </ul>
        </div>
        <div class="col-md-12 bg_E1E1E1 textCenterAlign margin0auto padding30">

            <h3>Take music</h3>
            <img class="appButton" src="assets/images/app.jpg" alt="" />
            <button class="btn">Download Appp</button>
        </div>
    </div>
</section>