.color_FEFFFF{
	color:#FEFFFF;
}

.color_000000{
	color:#000000;
}

.color_9ECB3B{
	color:#9ECB3B;
}

.color_CC3247{
	color: #CC3247;
}

.bg_none{
	background:none;
}

.bg_FEFFFF{
	background:#FEFFFF;
}

.bg_9ECB3B{
	background:#9ECB3B;
}

.bg_FFC50C{
	background:#FFC50C;
}

.bg_EAEAEA{
	background:#EAEAEA;
}

.bg_E1E1E1{
	background:#E1E1E1;
}

.bg_DCF89E{
	background:#DCF89E;
}

.bg_1B1D25{
	background:#1B1D25;
}