a, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.bold{
	font-weight:bold;
}

.padding45{
	padding:45px 0;
}

.padding30{
	padding:30px 0;
}

.padding20{
	padding:20px 0;
}

.margin0auto{
	margin:0 auto;
}

.textCenterAlign{
	text-align:center;
}

.header {
	padding:0;
	height:90px;
}

.header .logo, .header .playlist, .header .user{
	height:90px;
	padding:25px 0px;
}

.header .search{
	padding-left:30px;
}

.header .user .search input{
	padding:20px;
}

.header .user .search button{
	padding:10px;
}

.header .user .search button i{
}

.header .playlist i{
	padding: 0 10px;
}

.header img{
	height:115px;
	margin:0 auto;
	overflow: visible;
	display:block;
	position:relative;
	z-index:2;
}

.avater h3{
}

.avater img{
	float: left;
    height: 50px;
    margin-top: -5px;
    margin-left: 10px;
    padding-right: 25px;
}

.slider {
	padding:0;
	margin-bottom: 100px;
}

.menuArea{
	padding:0;
}

.menuUl1st{
	padding-top:100px;
}

.menu{
	padding:0;
}

.menu ul{
	list-style:none;
	margin:0 auto;
	padding-left:0;
	padding-right:0;
}

.menu ul a{
	text-decoration:none;
	padding:10px;
	padding-left:20px;
}

.menu ul li{
	padding:20px 0;
}

.menu ul li i{
	padding-right:10px;
}

.menu ul li:hover i{
	color:#C25B5A
}

.menu ul li:hover{
	background:#DCF89E;
}

.menu ul .hr hr{
	height:3px;
	background:#E1E1E1;
}

.menu ul .hr:hover{
	background:none;
}

.menu img{
	height:50px;
}

.menu h3{
	padding-bottom:30px;
}

.menu .btn, .playlistItem .btn{
	padding: 10px 20px;
    border: 1px solid #CC3247;
    border-radius: 10px;
}

.service {
}

.serviceArea a{
    text-decoration: none;
}

.serviceAreaMenu ul{
	list-style:none;
	padding:15px;
}

.serviceAreaMenu ul li{
	display:inline;
	padding:10px;
}

.serviceAreaMenu ul li:hover{
	border-bottom: 2px solid #9ECB3B;
}

.serviceAreaMenu .serviceAreaMenu1st{
	padding-left:0;
}

.musicSelect{
    width: 86%;
    height: 100%;
	display: none;
	background: rgba(27, 29, 37, .8);
	position:absolute;
	text-decoration: none;
    text-align: center;
	color:#fff;
    font-weight: bolder;
}

.musicSelect img{
    position: relative;
}

.serviceArea a:hover .musicSelect{
	display: inline-block;
    border: 2px solid rgba(97, 106, 116, 0.6);
}

.musicSelect span{
	font-size: 10px;
    font-weight: bold;
}

.musicSelect .control{

    font-size: 60px;
    position: absolute;
    top: 30%;
    left: 34%;
}

.musicSelect h5{

    font-size: 20px;
    margin-top: 20%;
    text-align: center;
}

.musicSelect .rating i{
	float:left;
	padding:0 2px;
}

.musicSelect .rating h3{
	margin-top: -7px;
    float: right;
    color: #EA2E49;
    font-weight: 800;
}

.playlistItem{
	padding:0;
}

.playlistItem ul{
	list-style:none;
	padding-left:30px;
}

.playlistItem ul li{
	padding:20px 0;
}

.playlistItem ul li a{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
}

.playlistItem ul li a div{
	height: 40px;
    width: 40px;
    background: #000000;
    display: none;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    margin-left: -50px;
}

.playlistItem ul li a div i{
	padding:10px;
	font-size:22px;
	color:#fff;
	display:inline-block;
}

.playlistItem ul li a:hover div{
    background: rgba(255, 197, 12, .8);
	display:inline-block
}

.playlistItem ul li a:hover{
	color:#FFC50C;
}

.playlistItem ul li a:hover span{
	color:#FFC50C;
}

.playlistItem ul li span{
	margin-top: -15px;
    display: block;
    position: absolute;
    margin-left: 50px;
	font-weight:400;
	font-size:11px;
	color:#A1A1A1;
}

.playlistItem .song img{
	height:40px;
	padding-right:10px;
}

.playlistItem h3{
	margin-bottom:0;
}

.appButton{
	padding:5.6px;
}

.player1{
	height: auto;
    width: 100%;
	padding:0;
    display: block;
    position: fixed;
    bottom: 0;
    background: rgba(27, 29, 37, 0.87);
}

.plaing{
	padding:25px 0 25px 20px;
}

.plaing img{
	float:left;
	height:50px;
	padding-right:15px;
}

.plaing h4{
	margin-top:6px;
}

.plaing h4 span{
	font-size:14px;
}

.playBar{
	padding: 45px 15px;
	font-size:12px;
}

.playBarStart i{
	padding:0 10px 0 0;
}

.playBar .fa-step-forward{
	margin-right:25px;
}

.playBar .progress{
	height:12px;
	padding:0;
	background:#333745;
	border:1px solid #000000;
}

.playBar .progress-bar{
	background:#9ECB3B;
}

.playBarEnd{
}

.playBarEnd i{
	padding:0 0 0 30px;
}

.volume{
	padding: 45px 15px;
}

.volume .progress{
	height:8px;
	margin-top:6px;
	padding:0;
	background:#333745;
	border:1px solid #000000;
}

.volume .progress-bar{
	background:#77C4D3;
}

.footer {
}

.footer_area {
}

.footer_area-copyright {
}

.footer_area-socialmedia {
}


/****Details****/

.playSongSlider{
	display:block;
	position:relative;
    width: 100%;
    opacity: 0.6;
}

.playSongSlider .img-responsive{
	width:97.5%;
}

.playSongSliderTop{

    position: absolute;
    bottom: 30%;
    left: 6%;
}

.playSongSliderTop img{
    width: 25%;
	float:left;
    padding-right: 20px;
}

.playSongSliderTop h3{

    font-weight: bold;
    margin-top: 48px;
    color: #1B1D25;
}



.playSongSliderTop h3 span{
	position: absolute;
    margin-left: -28.6%;
    margin-top: 22px;
    font-weight: 100;
}


.playSong{
	padding:0;
    margin-bottom: 5%;
}

.ArtistSongList ul{
	list-style:none;
	margin:0 auto;
	padding-left:0;
	padding-right:0;
}

.ArtistSongList ul li{
    background: #F2F2F4;
    margin: 2px 0;
    width: 98%;
    border-left: 8px solid #9ECB3B;
}

.ArtistSongList .songPlay{
	padding: 30px 25px 30px 25px;
    font-size: 40px;
	color:#333745;
}

.ArtistSongList .songTitle{
	margin-top: 10px;
	position:absolute;
	font-weight:600;
}

.ArtistSongList .songSinger{
	margin-top:24px;
	position:absolute;
	color:#333745;
}



.ArtistSongList .songDuration{
	margin-top: 15px;
    position: absolute;
    margin-left: 45%;
	color:#333745;
}

.ArtistSongList .songFevo{
	margin-top: 15px;
    position: absolute;
    margin-left: 65%;
}

.ArtistSongList .songFevo i{
	padding-right:25px;

}

.ArtistSongList .songFevo i:first-child:hover{
    color: #9ECB3B;
    cursor: pointer;

}

.ArtistSongList .songFevo i:last-child:hover{
    color: #9ECB3B;
    cursor: pointer;

}

.icon_selected{
    color: #9ECB3B;
}



.sideSection{
	height:715px;
	background:#B7B7B7;
}

/*player*/
.p_player {
    /*background: transparent url("../images/spr.png") no-repeat scroll center top;*/

    height: 150px;
    position: relative;
    width: 100%;
    z-index: 2;
    margin-left: 25%;
}
.p_title, .p_artist {
    font-family: verdana;
    left: 140px;
    position: absolute;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.p_title {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    top: 23px;
}
.p_artist {
    color: #EEEEEE;
    font-size: 18px;
    top: 50px;
}
.p_pl {
    background: transparent url("../images/spr.png") no-repeat scroll -274px -175px;
    cursor: pointer;
    height: 34px;
    left: 270px;
    position: absolute;
    top: 20px;
    width: 32px;
}
.pl:hover {
    top: 21px;
}
.p_cover {
    background: transparent url(../data/cover1.jpg) no-repeat scroll center top;
    border-radius: 5px 5px 5px 5px;
    height: 94px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 94px;
}
.p_controls {
    cursor: pointer;
    height: 23px;
    left: 137px;
    position: absolute;
    top: 80px;
    width: 138px;
}
.p_controls .p_play, .p_controls .p_pause, .p_controls .p_rew, .p_controls .p_fwd {
    background: transparent url("../images/spr.png") no-repeat scroll 0 0;
    float: left;
    height: 100%;
    width: 33%;;
}
.p_controls .p_play {
    background-position: -8px -171px;
}
.p_controls .p_pause {
    background-position: -8px -198px;
    display: none;
}
.p_controls .p_rew {
    background-position: -54px -171px;
}
.p_controls .p_fwd {
    background-position: -100px -171px;
}
.p_controls .p_play:hover {
    background-position: -8px -170px;
}
.p_controls .p_pause:hover {
    background-position: -8px -197px;
}
.p_controls .p_rew:hover {
    background-position: -54px -170px;
}
.p_controls .p_fwd:hover {
    background-position: -100px -170px;
}
.hidden {
    display: none;
}
.p_controls .visible {
    display: block;
}
.p_volume {

    height: 11px;
    left: 520px;
    position: absolute;
    top: 43px;

    width: 112px;

}

.p_tracker {
    height: 5px;
    left: 310px;
    position: absolute;
    top: 68px;
    width: 327px;
    background: white;
}
.ui-slider-range {
    background: transparent url("../images/spr.png") no-repeat scroll 0px -225px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.ui-slider-handle {
    cursor: pointer;

    height: 10px;

    margin-left: -5px;

    position: absolute;

    top: 2px;

    width: 10px;

    z-index: 2;

}

.p_volume .ui-slider-handle {

    background: url("../images/spr.png") no-repeat scroll -201px -188px rgba(0, 0, 0, 0);

    height: 13px;

    width: 13px;

}
.p_playlist {
    background-color: #333333;
    border-radius: 5px 5px 5px 5px;
    list-style-type: none;
    margin: -10px 0 0 2px;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
    width: 326px;
    z-index: 1;
}
.p_playlist li {
    color: #EEEEEE;
    cursor: pointer;
    margin: 0 0 5px 15px;
}
.p_playlist li.active {
    font-weight: bold;
}

.player_body{

    width: 100%;
    background-color: #fff;
}