/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_tree ./backends
 *= stub active_admin
 *= require jplayer.flat
 *= require simple-line-icons
 *= require jquery.bxslider
 *= require_self
 */
.ui-autocomplete {
    padding-left: 0;
    list-style: none;
    background: white;
    width: auto !important;
    display: inline-block;
}
.ui-menu-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ui-menu-item:hover {
    background: rgb(61, 197, 255);

    cursor: pointer;
    color: white;
}
#login-modal, #registration-modal {
    margin: 0 auto;
    text-align: center;
}
#open-modal {
    cursor: pointer;
}
.login {
    margin: 0 auto;
    text-align: center;
}
.login .form-control {
    width: 20%;
    margin: 0 auto;
}
#logo {
    cursor: pointer;
}

.logo-center{
    border: 1px outset #000000;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:75px;
    -moz-border-radius-bottomleft:75px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:75px;
    -webkit-border-bottom-left-radius:75px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:75px;
    border-bottom-left-radius:75px;
    border-bottom-right-radius:75px;
    height: 60px !important;
}

.yellow {

    background: #FFC50C;
}

/********* Player ***********/

.bg-dark {
    background-color: #5a6a7a;
    color: #c9d0d7;
}
.jp-controls {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}
.jp-controls > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 60px;
}
.bg-dark a {
    color: #e6eaed;
}
.jp-controls a {
    cursor: pointer;
    display: inline-block;
    padding: 10px 5px;
}
.jp-controls a i {
    line-height: inherit;
}
.i-lg {
    font-size: 1.3333333333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.i-2x {
    font-size: 2em;
}
a.hid {
    display: none;
}
div.jp-progress {
    width: auto;
    padding: 0 15px;
    vertical-align: top;
    position: relative;
}
.bg-dark.dk, .bg-dark .dk {
    background-color: #4d5d6e;
}
.jp-seek-bar {
    position: relative;
}
.bg-info {
    background-color: #4cb6cb;
    color: #eaf6f9;
}
.jp-play-bar {
    height: 60px;
}
.bg-dark .text-lt {
    color: #ffffff !important;
}
.jp-title {
    position: absolute;
    left: 25px;
    top: 0;
    right: 25px;
    display: block !important;
    line-height: 60px;
}
.bg-dark .text-muted {
    color: #acb7c1 !important;
}
.bg-dark.lter, .bg-dark .lter {
    background-color: #778490;
}
.jp-volume-bar-value {
    height: 6px;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.jp-video-270p{
    width: 100%;
}
.browse-more {
    color: #9FCB3A;
}