<%- model_class = Song -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= form_for @song, url: "/backend/songs/#{@song.id}", method: :patch, :html => {:class => "form-horizontal song", multipart: true} do |f| %>
    <%= render 'form', f: f %>
<% end %>