<section class="player bg_1B1D25 container-fluid color_FEFFFF">
    <div class="col-md-2 plaing">
        <img src="assets/images/dark.png" alt=""/>
        <h4>DARK HORSE <span>Prism - Katy Perry</span></h4>
    </div>
    <div class="col-md-8 playBar">
        <div class="col-md-2 playBarStart">
            <i class="fa fa-step-backward"></i>
            <i class="fa fa-pause"></i>
            <i class="fa fa-step-forward"></i>
            2:26
        </div>
        <div class="progress col-md-8">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
            </div>
        </div>
        <div class="col-md-2 playBarEnd">
            5:32
            <i class="fa fa-repeat"></i>
            <i class="fa fa-random"></i>
        </div>
    </div>
    <div class="col-md-2 volume">
        <div class="volumeControl  col-md-2">
            <i class="fa fa-volume-up"></i>
        </div>
        <div class="progress col-md-8">
            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
            </div>
        </div>
    </div>
</section>